main{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  section{
    width: 80%;
    h1,p,div{
      margin: 1em 0;
    }
    h1{
      font-size: 2em;
      font-weight: bold;
    }
    p{
      font-size: 1.4em;
    }
    .button{
      text-align: center;
      a{
        display: inline-block;
        width: fit-content;
        padding: 1em 2em;
        background: var(--main-text-color);
        color: var(--background-color);
        font-size: 1.4em;
        transition: all 0.5s;
        &:hover{
          border-radius: 1em;
        }
      }
    }
  }
}